@font-face {
    font-family: yellowTail;
    src: url(Yellowtail-Regular.ttf)
}


h1 {
    font-family: "Yellowtail", serif;
    color: #272160;
}



.prova {
    background-color: #272160;
}

p {
    color: rgba(0, 0, 0, 0.599);
}

hr { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    border-width: 3px 0 0 0;
    height: 0;
    width: 30%;
    text-align: center;
  } 

h4 {
    flex: 1 1 0%;
} 

strong {
    padding-left: 5em;
    flex: 2 1 0%;
  }